footer {
  display: flex;
  flex-direction: column;

  background-color: #191a23;
  color: #ffffff;

  padding: 55px 60px 50px 60px;
  position: sticky;
  bottom: 0;
  border-radius: 45px 45px 0 0;

  font-size: 18px;
  font-weight: 300;
}

footer p {
  font-size: 18px;
  font-weight: 300;
}

.f-top-conteiner {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 20px;
  height: 30px;
}

.social-media button {
  background-color: black;
  border: none;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
}
.f-top-conteiner nav ul {
  padding: 0;
  margin: 0;
}
.f-top-conteiner a {
  text-decoration: underline;
}

/* middle-conteiner */

.f-middle-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
  padding-top: 66px;
}

.f-middle-conteiner-text p {
  padding: 0;
  margin: 0;
}

.f-middle-conteiner-text {
  display: flex;
  flex-flow: column;
  gap: 20px;
  align-items: flex-start;
}

.f-middle-conteiner-div {
  display: flex;
  border-radius: 7px;
  padding: 0 7px;
  margin: 0;
}

.f-middle-conteiner-email {
  display: flex;
  border-radius: 14px;
  gap: 20px;
  background-color: #292a32;
  padding: 58px 40px;
}

.f-middle-conteiner-email input {
  padding: 22px 35px;
  border-radius: 14px;

  font-size: 18px;
  font-weight: 300;

  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
}

.f-middle-conteiner button {
  border-radius: 14px;
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
}

.f-middle-conteiner button:hover {
  background-color: #a9e75d;
}

.f-middle-conteiner-email input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.f-middle-conteiner-left {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.f-bottom-conteiner {
  display: flex;
  gap: 40px;
  align-items: center;
  border-top: 1px solid #ffffff;
  padding-top: 50px;
  margin-top: 50px;
}

.f-bottom-conteiner p {
  margin: 0;
}

.f-bottom-conteiner a {
  color: inherit;
  text-decoration: underline;
}
