header {
  display: flex;
  font-size: 20px;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  /* 
  background-color: white;
  z-index: 4;
  padding: 10px 0;
  position: sticky;
  top: 0;
   */

  font-family: inherit;
}

header img {
  height: 36px;
}

.header-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
}

.header-container a {
  text-decoration: none;
}

header button {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;

  border: 1px #000000 solid;

  border-radius: 14px;
  min-width: 231px;
  min-height: 68px;
  /* padding: 34px 35px; */
}

header button:hover {
  background-color: #f2f2f2;
}
