body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 60px 100px 0 100px;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  display: flex;
  font-size: 20px;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  font-family: inherit;
}

header img {
  height: 56px;
}

.header-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

header button {
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;

  border-radius: 14px;
  min-width: 231px;
  min-height: 60px;
}

header button:hover {
  background-color: #f2f2f2;
}
